.advantages__list {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.enclosed__advantages-list {
  padding: 0;
}


.advantages__item-position {
  margin-bottom: 26px;
}


.advantages__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-bottom: 11px;
}

.advantages__item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.advantages__icon {
  margin-bottom: 16px;
}


.advantages__item-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  margin: 0;
  margin-bottom: 24px;
}

.enclosed__advantages-item {
  text-align: center;
  padding: 26px;

  &--color-gray {
    background-color: #eeeeee;
  }

  &-housing {
    display: inline-block;
    background: url("../img/icon-housing.svg") no-repeat;
    width: 80px;
    height: 80px;
    order: -1;
  }

  &-food {
    display: inline-block;
    background: url("../img/icon-food.svg") no-repeat;
    width: 80px;
    height: 80px;
    order: -1;
  }

  &-souvenirs {
    display: inline-block;
    background: url("../img/icon-souvenirs.svg") no-repeat;
    width: 80px;
    height: 80px;
    order: -1;
  }
}


.advantages__image {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    flex-wrap: wrap;
  }

  .advantages__item {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__image {
    width: 65%;
    height: 256px;
  }

  .enclosed__advantages-list {
    display: flex;
  }

  .enclosed__advantages-item {
    height: 204px;
  }
}
