.advantages__list {
  font-family: "PT Sans", sans-serif;
  font-style: normal;

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  margin: 0;
  margin-bottom: 11px;
}

.advantages__item-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  margin: 0;
  margin-bottom: 22px;
}

.advantages__icon {
  margin-bottom: 16px;
}


.advantages__item-number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  margin: 0;
  margin-bottom: 24px;
}

.advantages__item {
  padding: 18px;
  text-align: center;

  &--color-gray {
    background-color: #eeeeee;
  }
}


.advantages__item-housing {
  display: inline-block;
  background: url("../img/icon-housing.svg") no-repeat;
  width: 75px;
  height: 72px;
  padding: 4px 2px 4px 3px;
}


.advantages__item-food {
  display: inline-block;
  background: url("../img/icon-food.svg") no-repeat;
  width: 76px;
  height: 69px;
  padding: 6px 2px 5px;
}

.advantages__item-souvenirs {
  display: inline-block;
  background: url("../img/icon-souvenirs.svg") no-repeat;
  width: 63px;
  height: 75px;
  padding: 3px 8px 2px 9px;
}
