.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28.5px 82px 29px;
}

@media (min-width: @tablet-width) {
  .footer-social {
    flex-direction: row;
    justify-content: space-around;
    padding: 36px 60px 36px 45px;
  }
}
