.main-container__image {
  position: relative;
  width: 320px;
  height: 389px;
  background-image: url("../img/background/sedona-mountains-mobile.jpg");
  background-repeat: no-repeat;
}

.main-container__image::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 320px;
  height: 57px;
  background-image: url("../img/advantages-mobile/intro-triangle.svg");
}


.main-container__image-form {
  position: relative;
  width: 320px;
  height: 214px;
  background-image: url("../img/background/sedona-mountains-form.jpg");
  background-repeat: no-repeat;
}

.main-container__image-sedona {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 229px;
  height: 39px;
  background-image: url("../img/form-mobile/sedona.svg");
  background-repeat: no-repeat;
}


.main-container__welcome {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 282px;
  height: 214px;
  background-image: url("../img/welcome-sedona.png");
  background-repeat: no-repeat;
}

.main-container__welcome-form {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 229px;
  height: 39px;
  background-image: url("../img/form-mobile/sedona.svg");
  background-repeat: no-repeat;
}


@media (min-width: @tablet-width) {
  .main-container {
    margin-bottom: 48px;
  }

  .main-container__image {
    width: 768px;
    height: 518px;
    background-image: url("../img/advantages-tablet/sedona-mountains-tablet.jpg");
    background-repeat: no-repeat;

    &::after {
      display: none;
    }
  }

  .main-container__image-form {
    width: 768px;
    height: 290px;
    background-image: url("../img/form-tablet/sedona-mountains-tablet-form.jpg");
    background-repeat: no-repeat;
  }

  .main-container__welcome {
    width: 461px;
    height: 350px;
    background-image: url("../img/advantages-tablet/welcome-sedona-tablet.svg");
    background-repeat: no-repeat;
  }

  .main-container__welcome-form {
    width: 457px;
    height: 78px;
    background-image: url("../img/form-tablet/sedona-tablet.svg");
    background-repeat: no-repeat;
  }

  .main-container__triangle {
    position: absolute;
    bottom: -1px;
    width: 768px;
    height: 57px;
    background-image: url("../img/advantages-tablet/intro-triangle-tablet.svg");
    background-repeat: no-repeat;
  }
}


@media (min-width: @desktop-width) {
  .main-container__image {
    width: 1200px;
    height: 518px;
    background-image: url("../img/advantages-desktop/sedona-mountains-desktop.jpg");
    background-repeat: no-repeat;
  }

  .main-container__image-form {
    width: 1200px;
    height: 301px;
    background-image: url("../img/form-desktop/sedona-mountains-desktop-form.jpg");
    background-repeat: no-repeat;
  }

  .main-container__welcome {
    width: 460px;
    height: 350px;
    background-image: url("../img/advantages-desktop/welcome-sedona-desktop.svg");
    background-repeat: no-repeat;
  }

  .main-container__triangle {
    width: 1200px;
    height: 57px;
    background-image: url("../img/advantages-desktop/triangle-desktop.svg");
    background-repeat: no-repeat;
  }
}
