.main-container__image {
  position: relative;
  padding: 90px 19px 85px;
  background-color: #000000;
  background-image: url("../../img/background/sedona-mountains-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 }

 .main-container__left {
  position: absolute;
  bottom: 0;
  right: 50%;
 }
 .main-container__right {
  position: absolute;
  bottom: 0;
  left: 50%;
 }
