.main-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

.main-nav-list__link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
}


.main-nav-list__item {
  padding: 18px 0 17px;
}
