.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: url("../img/cross.png") center no-repeat;
  width: 32px;
  height: 32px;
  padding: 0;
}
