.map {
  height: 350px;
  background-image: url("../img/advantages-mobile/map-search-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


@media (min-width: @tablet-width) {
  .map {
    height: 350px;
    background-image: url("../img/advantages-tablet/map-search-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
