.photos-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photos-list__item {
  margin-bottom: 25px;
}

.photos-list__image {
  margin-bottom: 15px;
  width: 100%;
}

.photos-list__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 11px;
}

.photos-list__author {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  color: #333333;
  margin: 0;
  margin-bottom: 11px;
}

.photos-list__reactions-count {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.photos-list__reactions {
  border: none;
  background-color: #ffffff;
  fill: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .photos-list {
    display: flex;
    flex-wrap: wrap;
  }

  .photos-list__item {
    width: 50%;
    margin-bottom: 0;

    &--color-gray {
      background-color: #f2f2f2;
    }

    &:nth-child(3) {
      background-color: #eaeaea;
    }
  }

  .photos-list__first {
    width: 100%;
  }

  .photos-list__image {
    margin-bottom: 0;
  }

  .photos-list__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .photos-list__reactions {
    background-color: transparent;
  }

  .photos-list__reactions-icon {
    fill: rgba(0, 0, 0, 0.3);
  }
}
