.photos-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.photos-list__item {
  margin: 25px 0;
}

.photos-list__image-expanses {
  margin-bottom: 15px;
  display: block;
}

.photos-list__image-vegetation {
  display: block;
  margin-bottom: 15px;
}

.photos-list__image-north {
  display: block;
  margin-bottom: 15px;
}

.photos-list__image-devil {
  display: block;
  margin-bottom: 15px;
}

.photos-list__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 11px;
}

.photos-list__author {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: none;
  color: #333333;
  margin: 0;
  margin-bottom: 11px;
}

.photos-list__reactions-count {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.photos-list__reactions {
  border: none;
  background-color: #ffffff;
  fill: #e5e5e5;
}

@media (min-width: @tablet-width) {
  .photos-list {
    display: flex;
    flex-wrap: wrap;
  }

  .photos-list__item {
    margin: 0;

    &--color-gray {
      background-color: #f2f2f2;
    }

    &:nth-child(3) {
      background-color: #eaeaea;
    }
  }


  .photos-list__image-expanses {
    display: block;
    width: 648px;
    height: 400px;
    margin-bottom: 0;
  }

  .photos-list__image-vegetation {
    display: block;
    margin-bottom: 0;
    width: 324px;
    height: 267px;
  }

  .photos-list__image-north {
    display: block;
    margin-bottom: 0;
    width: 324px;
    height: 267px;
  }

  .photos-list__image-devil {
    display: block;
    margin-bottom: 0;
    width: 324px;
    height: 267px;
  }


  .photos-list__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
  }

  .photos-list__block-author {
    position: absolute;
    left: 20px;
  }

  .photos-list__block-liked {
    position: absolute;
    right: 20px;
  }


  .photos-list__reactions {
    background-color: transparent;
  }

  .photos-list__reactions-icon {
    fill: rgba(0, 0, 0, 0.3);
  }
}


@media (min-width: @desktop-width) {
  .photos-list__image-expanses {
    display: block;
    width: 1200px;
    height: 400px;
  }

  .photos-list__image-vegetation {
    display: block;
    width: 400px;
    height: 267px;
  }

  .photos-list__image-north {
    display: block;
    width: 400px;
    height: 267px;
  }

  .photos-list__image-devil {
    display: block;
    width: 400px;
    height: 267px;
  }
}
