.presentation {
  padding: 32px 20px 18px;
  text-align: center;
}

.presentation__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  margin: 0 0 35px;
}

.presentation__text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  padding: 0;
  margin: 0 0 16px;
}


@media (min-width: @tablet-width) {
  .presentation {
    padding: 47px 124px 55px;
  }

  .presentation__wrapper {
    width: 520px;
    height: 103px;
    margin: 0 auto;
  }

  .presentation__title {
    margin-bottom: 38px;
  }

  .presentation__text {
    margin: 0;
  }
}
