.presentation {
  position: relative;
  padding: 32px 20px 18px 16px;
  text-align: center;
}

.presentation__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 0;
  margin: 0 0 35px;
}

.presentation__text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  padding: 0;
  margin: 0 0 16px;
}
