.recall-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recall-form__info {
  width: 320px;
  margin: 0;
  border: none;
  padding: 24px 20px 34px;
}

.recall-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
}

.recall-form__question {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.recall-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.recall-form__item {
  margin-bottom: 16px;
}


.recall-form__data-input {
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  padding: 16px;
  margin: 0;
}

.recall-form__icon {
  position: relative;
}


.recall-form__image {
  position: absolute;
  right: 0;
  padding: 20px;
  background-color: #e6e6e6;
}

.recall-form__contact-input {
  padding: 16px;
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.recall-form__choice-of-impression {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.recall-form__sights {
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
}

.recall-form__item-impression {
  margin-bottom: 16px;
}

.recall-form__describe {
  font-size: 18px;
  line-height: 26px;
  border: none;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  resize: none;
}

.recall-form__button {
  position: relative;
  padding: 16px 33px;
  border: none;
  width: 281px;
  background-color: #81b3d2;
  color: #ffffff;
}


.recall-form__required-field {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}


@media (min-width: @tablet-width) {
  .recall-form {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .recall-form__info {
    padding: 0;
    width: 50%;
    height: 338px;
  }
}


@media (min-width: @desctop-width) {
  .recall-form__info {
    min-width: 480px;

    &--new-width {
      width: 960px;
    }
  }
}
