.recall-form {
  &__info {
    border: none;
    margin: 0 auto;
    padding: 0;
  }

  &__title {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #000000;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__block-1 {
    padding: 24px 20px 39px;
  }

  &__block-2 {
    padding: 24px 20px 34px;
  }

  &__block-3 {
    padding: 24px 20px;
  }

  &__block-4 {
    padding: 24px 20px;
  }

  &__block-5 {
    padding: 24px 21px 56px 20px;
  }

  &__describe {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    width: 247px;
    height: 118px;
    border: none;
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    resize: none;
  }

  &__button {
    position: relative;
    border: none;
    font-size: 21px;
    width: 281px;
    padding: 18.5px 34px 13.5px 32px;
    background-color: #81b3d2;
  }

  &__required-field {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.6);
    text-align: right;
  }

  &__icon {
    position: relative;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__data-input {
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    background-color: #f2f2f2;
    padding: 16px;
    margin: 0;
  }

  &__image {
    position: absolute;
    right: 0;
    padding: 20px;
    background-color: #e6e6e6;
  }

  &__contact-input {
    padding: 16px;
    background-color: #f2f2f2;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }

  &__choice-of-impression {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }

  &__sights {
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }
}


@media (min-width: @tablet-width) {
  .recall-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0 60px;
  }

  .recall-form__info {
    padding: 0;
    margin: 0;
  }

  .recall-form__block {
    &-1 {
      width: 324px;
      margin-bottom: 48px;
    }

    &-2 {
      width: 324px;
      margin-bottom: 48px;
    }

    &-3 {
      width: 648px;
      height: 162px;
      margin-bottom: 48px;
    }

    &-4 {
      width: 648px;
      height: 189px;
      margin-bottom: 42px;
    }

    &-5 {
      width: 648px;
      height: 320px;
    }
  }

  .recall-form__describe {
    width: 616px;
    height: 128px;
    margin-bottom: 48px;
  }

  .recall-form__required-field {
    font-size: 14px;
    display: inline-block;
  }

  .recall-form__info-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .recall-form__title {
    font-size: 21px;
    margin-bottom: 28px;
  }

  .recall-form__button {
    width: 324px;
    padding: 18.5px 60px 13.5px 49px;
  }

  .recall-form__list-sights {
    width: 480px;
  }
}
