.videos {
  padding: 17px 28px 0;
}

.videos__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
}

.videos__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;

  margin: 0;
  margin-bottom: 38px;
}


.videos__image {
  height: 177px;
  background-image: url("../img/video/video-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


@media (min-width: @tablet-width) {
  .videos__image {
    height: 500px;
    background-image: url("../img/video/video-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
