.videos__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 38px;
}

.videos__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;

  margin: 0;
  margin-bottom: 38px;
}


.videos__image {
  width: 100%;
}
